# Логи
logs/
*.log

# Clojure
target/
.classpath
.project
.settings/
.m2-*
.m2
.clj-kondo-cache/
.cpcache/

test-report-*.xml
test-report-*.txt
plan-*.md
.answers
.plans
*.local
*.local.*
.drafts
.mem26

AGENTS.md