{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :deps  {org.clojure/clojure   {:mvn/version "1.11.1"}
         org.clojure/data.json {:mvn/version "2.5.1"}
         metosin/reitit        {:mvn/version "0.10.0"}
         http-kit/http-kit     {:mvn/version "2.8.0"}}
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
            :main-opts ["-m" "kaocha.runner"]}
           :bench
           {:extra-paths ["bench"]
            :main-opts ["-m" "lcmm-guard.bench"]}}}
